/BorrowerListLoading.png
/BorrowerSendMail.png
/BorrowersMVP.png
/BorrowerViewBorrowItem.png
/BorrowerViewFindBorrower.png
/DaoStructure.png
/EditBorrowerFromList.png
/EmailAddress.png
/Item.png
/ItemState.png
/ItemStateTransitions.png
/Layers.png
/LibraryDomain.png
/MVPComponents.png
/MVPLoan.png
/MVPReturn.png
/MVPTesting.png
/NotificationServiceAndDao.png
/ReturnViewReturnItem.png
/SimpleCalendar.png
/ViewInterface.png
/ViewRegistry.png
